.salonInfo {
  font-family: 'HiroshigeStd';
  padding: 50px 0px 0px 0px;
}

.italic {
  font-style: italic;
  text-align: start;
}

.socialNetwork {
  list-style-type: none;
  text-align: start;
}

.end {
  padding-left: 35px;
  padding-bottom: 5px;
  text-align: start;
}

.containerImg {
  margin: 20px 0px;
  width: 400px;
}
.containerImg img {
  width: 100%;
}
